<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <h4 id="cur_user"></h4>
    <button onclick="changeUser()">Change User</button>
    <div><ul id="message" class="fa-ul"></ul></div>
    <button onclick="collapseAll()">Collapse All</button>
    <button onclick="openAll()">Open All</button>
    <br/>
    <br/>
    <div><span>Responding to: </span><span id="response"></span></div>
    <br/>
    <label for="msg">Message:</label>
    <input type="text" name="FirstName" id="msg">
    <button onclick="sendMessage()">Send</button>

  </body>
</html>
