<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, <%= name %></h1>
    <p>Message <%= note %></p>
  </body>
</html>
